* {
  font-family: "Raleway";
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #559A7B;
  z-index: 5;
}

.menu, .menu_f {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link, .f_link {
  color: #D4E8DB;
  font-size: 19px;
  font-weight: 300;
}
.menu_link:hover, .f_item:hover, .auth_link:hover {
  text-decoration: none;
  color: #2D3025;
}

.contact_link {
  text-decoration: none;
  color: #2D3025;
}

.contact_link:hover {
  color: #2D3025;
}
.menu_logo {
  width: 330px;
  height: 91px;
}
.menu_item, .f_item {
  border-right: 2px dotted #2D3025;
  padding-right: 48px;
}

.promo {
  max-height: 674px;
  background: url("./img/first_bg.png") center center/cover no-repeat;
  padding: 280px 0 135px 0;
}
.promo_header {
  color: #2E3126;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 38.4px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.promo_btn {
  display: block;
  margin: 175px auto 47px auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 40px;
  background: #559A7B;
  color: #E7E2D3;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover, .forma_btn:hover {
  background-color: #66AC8D;
}

.info, .services, .book_v {
  padding: 30px 0 40px 0;
  background: linear-gradient(180deg, rgba(102, 172, 141, 0.50) 49.5%, rgba(185, 218, 199, 0.50) 100%);
}

.title {
  position: relative;
  margin-bottom: 0;
  color: #2D3025;
  font-size: 35px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.info_block {
  margin: 33px 0;
}

.info_title {
  color: #2D3025;
  font-size: 25px;
  font-weight: 500;
}

.info_tit {
  color: #2D3025;
  font-size: 25px;
  font-weight: 500;;
  text-align: center;
  padding-top: 10px;
}

.info .info_block .info_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 150px;
  height: 150px;
  border-radius: 40px;
  background: #559A7B;
  margin-left: 100px;
}

.info_subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.values, .dignities, .book_future {
  background: linear-gradient(180deg, #DCECE3 47.77%, #B4D9C6 100%);
  padding: 30px 0 40px 0;
}

.values_tit {
  color: #283C3A;
  font-size: 30px;
  font-weight: 700;
  padding-top: 80px;
}

.values_text {
  color: #2D3025;
  font-size: 23px;
  font-weight: 500;
  padding-top: 10px;
}

.info_img, .dignities_img {
  width: 473px;
  height: 473px;
  border-radius: 40px;
}

.contact, .forma {
  background: var(--3, linear-gradient(180deg, rgba(148, 201, 173, 0.70) 40.17%, rgba(227, 215, 194, 0.70) 100%));
  padding: 30px 0 40px 0;
}

.contact_title, .dignities_title {
  margin-top: 40px;
}
ul {
  list-style-type: none;
}

.map_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
}

.footer {
  display: flex;
  justify-content: space-between;
  background: rgba(102, 172, 141, 0.90);
}
.footer a:hover {
  text-decoration: none;
}

.footer_wrapper {
  padding-top: 32px;
}

.services_block {
  border-radius: 40px;
  padding: 40px 50px 30px 40px;
  margin-top: 30px;
  background: linear-gradient(180deg, #DCECE3 0%, #B2D5C6 100%);
}

.services_tit {
  color: #2D3025;
  font-size: 30px;
  font-weight: 700;
}

.services_text {
  color: #2D3025;
  font-size: 20px;
  font-weight: 700;
  padding-top: 15px;
}

.services_descr, .book_v_descr {
  color: #2D3025;
  font-size: 17px;
  font-weight: 400;
  padding-top: 5px;
}
.dignities_title, .forma_title {
  margin-top: 20px;
  color: #283C3A;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.forma_btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 60px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 40px;
  background: #559A7B;
  color: #E7E2D3;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  }

input {
  border: 2px solid #559A7B;
  border-radius: 40px;
  width: 610px;
  height: 50px;
  background: none;
  margin: 10px auto 10px auto;
  font-weight: 400;
  font-size: 28px;
  color: #559A7B;
}

.book_v_block {
  width: 300px;
  height: 587px;
  padding: 25px;
  margin-top: 30px;
  border: 1px solid #2D3025;
}
.book_v_img {
  width: 250px;
  height: 381px;
}

.book_v_text, .book_future_text {
  color: #2D3025;
  font-size: 20px;
  font-weight: 700;
  
}

.book_v_tit, .book_future_tit {
  color: #2D3025;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}

.book_future_descr {
  color: #2D3025;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
}
.price {
  display: inline;
  color: #559A7B;
  font-size: 25px;
  font-weight: 700;
  padding-top: 5px;
}

.forma_reg {
  background: linear-gradient(180deg, rgba(85, 154, 123, 0.92) 0%, rgba(212, 232, 219, 0.92) 88.96%);
  padding-top: 61px;
}

.forma_block {
  margin: auto;
  position: relative;
  border-radius: 40px;
  background: #D4E8DB;
  padding: 32px;
  width: 680px;
}

input::placeholder {
  color: #559A7B;
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
}

.reg_input {
  border: 2px solid #559A7B;
  border-radius: 40px;
  width: 600px;
  height: 50px;
  background: none;
  margin: 10px auto 10px auto;
  font-weight: 400;
  font-size: 28px;
  color: #559A7B;
}

.auth_link {
  display: block;
  margin: auto;
  padding-top: 10px;
  color: #559A7B;
  font-size: 19px;
  font-weight: 300;
  text-align: center;

}
.img_sl {
  width: 240px;
  height: 390px;
  margin-left: 50px;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  width: 100%;
  max-width: 970px;
  height: 400px;
  margin: 20px;
  text-align: center;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide:nth-of-type(even) {
  background-color: rgba(102, 172, 141, 0.90);;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  margin-right: 0px;
  box-sizing: border-box;
  background: rgba(148, 201, 173, 0.90);;
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.slide a {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

a.slide__prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}